docs/n8n-workflows/welcome-sequence-workflow.json
{
	"name": "Listmonk Welcome Sequence",
	"nodes": [
		{
			"parameters": {
				"rule": {
					"interval": [
						{
							"field": "minutes",
							"minutesInterval": 15
						}
					]
				}
			},
			"id": "cron-trigger",
			"name": "Every 15 Minutes",
			"type": "n8n-nodes-base.scheduleTrigger",
			"typeVersion": 1.2,
			"position": [240, 300]
		},
		{
			"parameters": {
				"method": "GET",
				"url": "http://localhost:9000/api/subscribers",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpBasicAuth",
				"sendQuery": true,
				"queryParameters": {
					"parameters": [
						{
							"name": "query",
							"value": "subscribers.status = 'enabled' AND NOT subscribers.attribs ? 'welcome_started'"
						},
						{
							"name": "list_id",
							"value": "3"
						},
						{
							"name": "per_page",
							"value": "50"
						}
					]
				},
				"options": {}
			},
			"id": "query-new-subs",
			"name": "Query New Subscribers",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [460, 300],
			"credentials": {
				"httpBasicAuth": {
					"id": "WEgVcMFrGE8GTJVi",
					"name": "Listmonk API"
				}
			}
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict"
					},
					"conditions": [
						{
							"id": "check-results",
							"leftValue": "={{ $json.data.results.length }}",
							"rightValue": 0,
							"operator": {
								"type": "number",
								"operation": "gt"
							}
						}
					],
					"combinator": "and"
				},
				"options": {}
			},
			"id": "has-new-subs",
			"name": "Has New Subscribers?",
			"type": "n8n-nodes-base.if",
			"typeVersion": 2,
			"position": [680, 300]
		},
		{
			"parameters": {
				"fieldToSplitOut": "data.results",
				"options": {}
			},
			"id": "split-subscribers",
			"name": "Split Subscribers",
			"type": "n8n-nodes-base.splitOut",
			"typeVersion": 1,
			"position": [900, 200]
		},
		{
			"parameters": {
				"method": "PUT",
				"url": "=http://localhost:9000/api/subscribers/{{ $('Split Subscribers').item.json.id }}",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpBasicAuth",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={{\n  JSON.stringify({\n    email: $('Split Subscribers').item.json.email,\n    name: $('Split Subscribers').item.json.name || \"\",\n    status: $('Split Subscribers').item.json.status || \"enabled\",\n    lists: ($('Split Subscribers').item.json.lists || []).map(l => l.id),\n    preconfirm_subscriptions: true,\n    attribs: Object.assign({}, $('Split Subscribers').item.json.attribs || {}, {\n      welcome_started: new Date().toISOString(),\n      welcome_step: 1\n    })\n  })\n}}",
				"options": {}
			},
			"id": "mark-welcome-started",
			"name": "Mark Welcome Started",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [1120, 200],
			"credentials": {
				"httpBasicAuth": {
					"id": "WEgVcMFrGE8GTJVi",
					"name": "Listmonk API"
				}
			}
		},
		{
			"parameters": {
				"method": "POST",
				"url": "http://localhost:9000/api/tx",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpBasicAuth",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"subscriber_email\": \"{{ $('Split Subscribers').item.json.email }}\",\n  \"template_id\": 6,\n  \"from_email\": \"Alex Mayhew <alex@alexmayhew.dev>\",\n  \"data\": {}\n}",
				"options": {}
			},
			"id": "send-welcome-01",
			"name": "Send Welcome 01",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [1340, 200],
			"credentials": {
				"httpBasicAuth": {
					"id": "WEgVcMFrGE8GTJVi",
					"name": "Listmonk API"
				}
			}
		},
		{
			"parameters": {
				"amount": 3,
				"unit": "days"
			},
			"id": "wait-3-days",
			"name": "Wait 3 Days",
			"type": "n8n-nodes-base.wait",
			"typeVersion": 1.1,
			"position": [1560, 200]
		},
		{
			"parameters": {
				"method": "POST",
				"url": "http://localhost:9000/api/tx",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpBasicAuth",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"subscriber_email\": \"{{ $('Split Subscribers').item.json.email }}\",\n  \"template_id\": 7,\n  \"from_email\": \"Alex Mayhew <alex@alexmayhew.dev>\",\n  \"data\": {}\n}",
				"options": {}
			},
			"id": "send-welcome-02",
			"name": "Send Welcome 02",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [1780, 200],
			"credentials": {
				"httpBasicAuth": {
					"id": "WEgVcMFrGE8GTJVi",
					"name": "Listmonk API"
				}
			}
		},
		{
			"parameters": {
				"amount": 4,
				"unit": "days"
			},
			"id": "wait-4-days",
			"name": "Wait 4 Days",
			"type": "n8n-nodes-base.wait",
			"typeVersion": 1.1,
			"position": [2000, 200]
		},
		{
			"parameters": {
				"method": "POST",
				"url": "http://localhost:9000/api/tx",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpBasicAuth",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"subscriber_email\": \"{{ $('Split Subscribers').item.json.email }}\",\n  \"template_id\": 8,\n  \"from_email\": \"Alex Mayhew <alex@alexmayhew.dev>\",\n  \"data\": {}\n}",
				"options": {}
			},
			"id": "send-welcome-03",
			"name": "Send Welcome 03",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [2220, 200],
			"credentials": {
				"httpBasicAuth": {
					"id": "WEgVcMFrGE8GTJVi",
					"name": "Listmonk API"
				}
			}
		},
		{
			"parameters": {
				"amount": 7,
				"unit": "days"
			},
			"id": "wait-7-days-a",
			"name": "Wait 7 Days",
			"type": "n8n-nodes-base.wait",
			"typeVersion": 1.1,
			"position": [2440, 200]
		},
		{
			"parameters": {
				"method": "POST",
				"url": "http://localhost:9000/api/tx",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpBasicAuth",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"subscriber_email\": \"{{ $('Split Subscribers').item.json.email }}\",\n  \"template_id\": 9,\n  \"from_email\": \"Alex Mayhew <alex@alexmayhew.dev>\",\n  \"data\": {}\n}",
				"options": {}
			},
			"id": "send-welcome-04",
			"name": "Send Welcome 04",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [2660, 200],
			"credentials": {
				"httpBasicAuth": {
					"id": "WEgVcMFrGE8GTJVi",
					"name": "Listmonk API"
				}
			}
		},
		{
			"parameters": {
				"amount": 7,
				"unit": "days"
			},
			"id": "wait-7-days-b",
			"name": "Wait 7 Days (2)",
			"type": "n8n-nodes-base.wait",
			"typeVersion": 1.1,
			"position": [2880, 200]
		},
		{
			"parameters": {
				"method": "POST",
				"url": "http://localhost:9000/api/tx",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpBasicAuth",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={\n  \"subscriber_email\": \"{{ $('Split Subscribers').item.json.email }}\",\n  \"template_id\": 10,\n  \"from_email\": \"Alex Mayhew <alex@alexmayhew.dev>\",\n  \"data\": {}\n}",
				"options": {}
			},
			"id": "send-welcome-05",
			"name": "Send Welcome 05",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [3100, 200],
			"credentials": {
				"httpBasicAuth": {
					"id": "WEgVcMFrGE8GTJVi",
					"name": "Listmonk API"
				}
			}
		},
		{
			"parameters": {
				"method": "PUT",
				"url": "=http://localhost:9000/api/subscribers/{{ $('Split Subscribers').item.json.id }}",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpBasicAuth",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={{\n  JSON.stringify({\n    email: $('Split Subscribers').item.json.email,\n    name: $('Split Subscribers').item.json.name || \"\",\n    status: $('Split Subscribers').item.json.status || \"enabled\",\n    lists: ($('Split Subscribers').item.json.lists || []).map(l => l.id),\n    preconfirm_subscriptions: true,\n    attribs: Object.assign({}, $('Split Subscribers').item.json.attribs || {}, {\n      welcome_complete: new Date().toISOString(),\n      welcome_step: 5\n    })\n  })\n}}",
				"options": {}
			},
			"id": "mark-welcome-complete",
			"name": "Mark Welcome Complete",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [3320, 200],
			"credentials": {
				"httpBasicAuth": {
					"id": "WEgVcMFrGE8GTJVi",
					"name": "Listmonk API"
				}
			}
		}
	],
	"connections": {
		"Every 15 Minutes": {
			"main": [
				[
					{
						"node": "Query New Subscribers",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Query New Subscribers": {
			"main": [
				[
					{
						"node": "Has New Subscribers?",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Has New Subscribers?": {
			"main": [
				[
					{
						"node": "Split Subscribers",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Split Subscribers": {
			"main": [
				[
					{
						"node": "Mark Welcome Started",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Mark Welcome Started": {
			"main": [
				[
					{
						"node": "Send Welcome 01",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Send Welcome 01": {
			"main": [
				[
					{
						"node": "Wait 3 Days",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Wait 3 Days": {
			"main": [
				[
					{
						"node": "Send Welcome 02",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Send Welcome 02": {
			"main": [
				[
					{
						"node": "Wait 4 Days",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Wait 4 Days": {
			"main": [
				[
					{
						"node": "Send Welcome 03",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Send Welcome 03": {
			"main": [
				[
					{
						"node": "Wait 7 Days",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Wait 7 Days": {
			"main": [
				[
					{
						"node": "Send Welcome 04",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Send Welcome 04": {
			"main": [
				[
					{
						"node": "Wait 7 Days (2)",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Wait 7 Days (2)": {
			"main": [
				[
					{
						"node": "Send Welcome 05",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Send Welcome 05": {
			"main": [
				[
					{
						"node": "Mark Welcome Complete",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"settings": {
		"executionOrder": "v1",
		"saveManualExecutions": true,
		"callerPolicy": "workflowsFromSameOwner"
	},
	"staticData": null,
	"tags": [
		{
			"name": "newsletter"
		},
		{
			"name": "welcome-sequence"
		}
	]
}
